:host {
  justify-content: center;
}

td {
  height: 100px;
  width: 100px;
}

.mat-column-demo {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  
}

.selectedCell {
  background-color: #e9f678;
}
