:host {
  display: flex;
  background-color: #a8c8b2;
  width: 100vw;
  min-height: 100vh;
}

// основной блок
.example-container {
  width: 300px;
  height: 400px;
  background-color: #a8c8b2;
}

// Кнопка
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 25px;
  align-items: center;
}

mat-icon {
  font-size: 50px;
}

.hidden {
  display: none;
}